/*
===========
toggle
===========
*/
.toggle{display:none;}   
        @media(max-width:767px){
         .toggle{display: block;  height: 25px;   margin-left: 20px;    width: 25px;}   
         .menu{
            padding-top: 5px;
            padding-bottom: 5px;
         }.menu ul {
            display: none;
            position: absolute;
            left: 0;
            z-index: 99999999999999999999;
            right: 0px;
        }
         .menu ul li{background-color: blue;
            width: 100%;      }
        }
/*
===========
global styles
===========
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
}
h5{
    font-size: 2em;
}
/*
===========
hero section
===========
*/
.hero{
    background-color:#441b75;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 2px solid white;
    border-bottom: none;
}
.hero img {
    height: 30%;
    width: 30%;
}
.menu{
    width: 100%;
    background: rgba(86, 250, 2,1);
    height: 40px;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    list-style: none;
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    padding: 0px 50px 0px 50px;
    color: black;
    font-size: larger;
    font-weight: 900;
}
.menu a:hover {
    color: red;
}
/*
===========
services section
===========
*/
.services{
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.col-wrapper{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.services-col{
    width: 50%;
    float: left;
    padding: 10px 30px 10px 30px;
}
.services-col img {
    width: 90%;
    height: 300px;
    object-fit: initial;
    border-radius: 10px;
}
.services::after{
    clear: both;
    display: table;
    content: "";
}
.k:hover {
    box-shadow: 0px 0px 8px 0px #000;
    transition: 0.7s;
}
.services h1:hover {
    color: orangered;
}
/*
===========
ABOUT US section
===========
*/
.aboutus {
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    background-image: url(img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    color: #fff;
}
.aboutus-content{
    width: 80%;
    margin: auto;
    background-color: rgba(0,0,0,0.07);
    margin-top: 30px;
    font-size: 1.1em;
}
.about-btn{
    background-color: rgba(0, 0, 0, 0.01);
    padding: 10px 15px 10px 15px;
    margin-top: 30px;
    border: none;
    outline: 1px solid rgb(0 255 220);
    color: white;
}
/*
===========
TEAM section
===========
*/
.team{
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.team-wrapper{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.col-team{
    width: 33.33%;
    float: left;
    padding: 10px 30px 10px 30px;
}
.col-team img{
    width: 80px;
    max-width: 100%;
    padding-bottom: 5px;
}
.col{
    max-width: 400px;
    max-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.05);
    padding: 10px;
}
.team-wrapper::after{
    clear: both;
    content: "";
    display: table;
}
/*
===========
CONTACT section
===========
*/
.contact{
    width: 100%;
    background-color: hsl(0, 0%, 95%);
}
.cta{
    background-color: yellow;
    width: 100%;
    padding: 30px 5px 30px 5px;
    text-align: center;
}
.cta-col{
    width: 33.33%;
    float: left;
}
.cta-col h3{
    display: inline;
}
.cta::after{
    content: "";
    clear: both;
    display: table;
}
.col:hover {
    box-shadow: 0px 0px 8px 0px #000;
    transition: 0.7s;
}
/*
===========
CONTACT-MAIN section
===========
*/
.contactinfo{
    width: 100%;
    padding: 30px 5px 30px 5px;
    text-align: center;
}
.contactinfo{
    content: "";
    display: table;
    clear: both;
}
.contactinfo-col1{
    width: 35%;
    float: left;
    text-align: center;
    padding: 30px 5px 30px 5px;
}
.contactinfo-col2{
    width: 65%;
    float: left;
    padding: 30px 5px 30px 5px;
    padding-right: 5%;
}
.social-icons{
    padding: 10px;
    margin-top: 30px;
    transition: 0.7s;
}
.social-icons:hover {
    border-radius: 20px;
    transition: 0.7s;
}
.social-icons a{
    color: white;
}
.fb{
    background: #3a589b;
    color: #fff;
    padding: 9px 12px;
}
.gp{
    background: #d6492f;
    color: #fff;
}
.tw{
    background: #32ccfe;
    color: #fff;
}
.ln{
    background: #007bb6;
    color: #fff;
}
/*
===========
form style
===========
*/
.form-col{
    float: left;
    width: 48%;
    margin-right: 2%;
    text-align: left;
}
.label{
    display: block;
    text-align: left;
    font-weight: bold;
}
.msg{
    width: 100%;
    height: 250px;
    border: none;
    outline: none;
    margin-top: 10px;
}
.fname, .femail{
    width: 100%;
    height: 35px;
    padding: 0px 5px 0px 5px;
    background-color: #fff;
    border: none;
    outline: none;
}
.sendbtn{
    background-color: yellow;
    border: none;
    outline: none;
    padding: 10px 30px 10px 30px;
    outline: 1px solid black;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    text-align: left;
}
.sendbtn:hover {
    background-color: black;
    color: #fff;
    outline: 3px solid green;
}
/*
===========
footer
===========
*/
.ft{
    background: black;
    color: #fff;
    width: 100%;
    padding: 50px 10px 50px 10px;    
}
.footer h2{
    color: #fff;

}
.footer-col{
    width: 33.33%;
    text-align: center;
    float: left;
}
.footer-col p{
    padding: 10px 30px 10px 30px;
}
.ft::after{
    clear: both;
    display: block;
    content: "";
}

/*css media queries*/
@media screen and (max-width:500px){
    .services-col{
        width: 100%;
        padding-top: 100px;
    }
    .col-team{
        width: 100%;
        padding-top: 100px;
    }
    .cta-col{
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .contactinfo-col1{
        width: 100%;
    }
    .contactinfo-col2{
        width: 100%;
        padding-right: 0px;
    }
    .form-col{
        width: 100%;
    }
    .footer-col{
        width: 100%;
    }
}